@font-face {
    font-family: 'credit_cardregular';
    src: url('files/Fonts/credit_cardregular/credc___-webfont.woff2') format('woff2'),
         url('files/Fonts/credit_cardregular/credc___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*  1st - tags */
/* TODO верхнее меню закрепить, но остальные элементы должны быть сдвинуты относительно него - сделать ветку */
/*.navbar{
  position: fixed;
  top: 0;

}*/

q{
    font-family: "Lucida Handwriting", Cursive;
    font-style: italic;
}


/*  2nd - tags+classess */
img.preview {
    max-width: 100%;
    max-height: 100%;
    margin-top: 0.5%;
    margin-left: 0.5%;
}

td.gamecell{
    height: 100px;
    width: 100px;
    vertical-align: middle;
}

/* 3d - classess */

.btn-primary{
    margin: 15px;
}

.card{
    margin-top: 10px;
    margin-left: 10px;
}

.card_elements{
/*     display: block; */
    height: 2em;
/*     width: auto; */
    margin: 10px;
}

.cardform{
    position: static;
    margin: auto;
    padding: 15px;
/*    width: 25%;
    height: 15%;
    min-width: 15em;
    min-height: 10em;
    max-width: 35em;
    max-height: 23em;*/
    width: 25em;
    height: 16em;
}

.comment{
    padding: 0;
}

.examples{
    margin: 5px;
    width: 100%;
}

.feedback{
    margin: 3px;
}

/*.qtyControls{
/*     display:inline-block; */
    padding: 0;
}*/

/*.quantity{

}*/

.signature{
    text-align: right;
    font-style: italic;
    margin: 0;
}


/*  4th - ids */
#buybtn{
    float: right;
    /*    position: relative;
        margin-top: auto;*/
    margin-bottom: 1em;
}

#card_number-input{
    font-size: 0.8em;
    font-family: 'credit_cardregular','Courier new', monospace;
}

#cardlogo{
/*     display:block; */
/*    height: 1em;*/
/*     position: relative; */
    /*float: right;*/
    margin-top: 1em;
/*     margin-bottom: 0.7em; */
    text-align: right;
/*     height: 2em; */
/*    margin-left: auto;
    margin-right: 0;*/
}

#commentInput{
    height: 100%;
    width: 100%;
}

#nonvalid{
    text-align: center;
    padding: 0.5em;
    margin-bottom: 0;
}

#social{
    float: right;
    margin-right: 10px;
}

/*  5th - types */
[type="number"]{
    height: 100%;
    width: 15%;
    min-width: 3em;
/*     padding: 1px 5px; */
}

/* 6th - pseudoclass */
.cardform:hover{
  box-shadow: 0.3rem 0.5rem rgba(0, 0, 0, .175);

}

/*.clearfix::after {
  content: "";
  clear: both;
  display: table;
}*/

.gamecell:hover{
    background-color: lightgrey;
}

.topmenu:hover{
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.9);
    border-radius: 3px;
    margin: -1px; /*To compensate border width*/
}




